body {
    font-family: 'montserrat' , sans-serif;
}

.header {
    background: #F1C40F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 10px;
}
.title{
    font-size: 62px;
    color: #2C3E50;
    text-shadow: 1px 1px 2px #2C3E50;
    margin: 25px;
}

.topmenu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
    font-size: 20px;
    font-weight: bold;
    color:#2C3E50;
}
.welcomecontent {
    display: flex;
    background: #2C3E50;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 50px;
    justify-content: space-between;
    gap: 30px;
}
.welcomeimages {
    display: flex;
    gap: 10px;
    flex-direction: row;
    
}
.chefimage {
    border: #4B8E4E 5px solid;
    border-radius: 5px;
}
#chefimage1 {
    display: flex;
    align-self: start;
}
#chefimage2 {
    display: flex;
    align-self: end;
}

.welcometext {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
}

.footer {
    background: #F1C40F;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.footertext {
    display: flex;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}